<% content_for :title, "Editing stock" %>

<div class="md:w-2/3 w-full mx-auto mt-10 px-4">
  <h1 class="font-bold text-4xl mb-6">Editing stock</h1>

  <%= render "form", admin_stock: @admin_stock %>

  <div class="flex flex-col sm:flex-row gap-3 mt-4">
    <%= link_to "Show this stock", [:admin, @product, @admin_stock], class: "w-full sm:w-auto text-center rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 font-medium transition" %>
    <%= link_to "Back to stocks", admin_product_stocks_path, class: "w-full sm:w-auto text-center rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 font-medium transition" %>
  </div>
</div>
